{% load static %}

<!-- <div class="col-sm-6 h1">
    <a href="{% url 'home' %}">{% block brand_title %}{{ shop_name }}{% endblock %}</a>
    <small> {{ shop_tagline }}</small>
</div> -->


<div class="col-auto col-lg-3 col-xl-3 col-xxl-2">
    <button class="mobile-menu-toggler">
        <span class="sr-only">Toggle mobile menu</span>
        <i class="icon-bars"></i>
    </button>
    <a href="#" class="logo">
         <img src="{% static 'assets/images/demos/demo-14/logo-telka.png' %}" alt="Molla Logo" width="140"> 
		<strong><h3></h3></strong>
    </a>
</div>